<form class="text-center border border-light p-5">

    <p class="h4 mb-4">Regester</p>

    <!-- Name -->
    <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="firstName" name="firstName"
      [(ngModel)]="staffService.currentUser.firstName">

    <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="lastName" name="lastName"
      [(ngModel)]="staffService.currentUser.lastName">
    
    <!-- Email -->
    <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="E-Mail" name="lastName"
      [(ngModel)]="staffService.currentUser.email">


    <!-- Contct Number -->
    <input type="email" id="defaultContactFormEmail" class="form-control mb-4" name="contact"
      placeholder="Contct Number" [(ngModel)]="staffService.currentUser.contactNumber">
      
    <input type="datetime-local" id="defaultContactFormName" class="form-control mb-4" placeholder="birthDate" name="birthDate"
      [(ngModel)]="staffService.currentUser.birthDate">

      <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Password" name="password"
      [(ngModel)]="staffService.currentUser.password">

    <!-- Subject -->
    <label>Subject</label>
    <select class="browser-default custom-select mb-4" name="whoom" [(ngModel)]="staffService.currentUser.designtion">
      <option value="" disabled>Choose option</option>
      <option *ngFor="let item of Designation" selected>{{item}} </option>
    </select>

    <!-- Copy -->
    <!-- <div class="row">
    <div class="col-md-6 mx-auto d-flex justify-content-center">
      <mdb-checkbox [default]="true" class="mb-4">Send me a copy of this message</mdb-checkbox>
    </div>
  </div> -->

    <!-- Send button -->
    <button class="btn btn-info btn-block" block="true" (click)="createAndUpdte(staffService.currentUser)" type="submit">Send</button>
      <button class="btn btn-primary btn-lg btn-block" (click)="clearEmployee()"><i class="fa fa-retweet"></i>CLEAR</button>
  </form>